<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:fragment="common-footer">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&amp;family=Roboto:wght@400;500&amp;display=swap"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&amp;display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/fonts.css" />
    <link rel="stylesheet" href="../css/style.css" />

</head>

<body>

<div th:fragment="footer">
    <footer class="footer">
        <div class="footer_content">
            <div class="container">
                <div class="footer__inner">
                    <div class="footer__name-main1">
                        <a class="fnm" href="/">Cakes</a>
                    </div>
                    <div class="footer__products">
                        <nav class="footer__menu">
                            <div class="footer__menu-title">
                                Десерты
                            </div>
                            <div class="footer__menu-items">
                                <ul>
                                    <li><a th:href="@{/products/classic-cakes(category='classic_cakes')}">Классические торты</a></li>
                                    <li><a th:href="@{/products/cheesecakes(category='cheesecakes')}">Чизкейки</a></li>
                                    <li><a th:href="@{/products/sponge_cakes(category='sponge_cakes')}">Бисквитные торты</a></li>
                                    <li><a th:href="@{/products/cookies(category='cookies')}">Печенье</a></li>
                                    <li><a th:href="@{/products/cakes(category='cakes')}">Пироженные</a></li>
                                    <li><a th:href="@{/products/jams(category='jams')}">Джемы</a></li>
                                    <li><a th:href="@{/products/cupcakes(category='cupcakes')}">Капкейки</a></li>
                                    <li><a th:href="@{/products/chocolate_and_sweets(category='chocolate_and_sweets')}">Шоколад и конфеты</a></li>
                                    <li><a th:href="@{/products/mousse_cakes(category='mousse_cakes')}">Муссовые торты</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="footer__contacts">
                        <div class="footer__contacts-title">
                            Наши контакты
                        </div>
                        <div class="footer__contacts-text">
                            <ul>
                                <li> г. Киев, Ваш адрес</li>
                                <li>  Ежедневно с 9:00 до 19:00</li>
                                <li> <a class="footer__phone" href="tel:3809000000">+38 (090) 000-00-00 </a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__copy">
            <div class="container">
                <div class="copy__text">
                    © 2020 Cakes. Все права защищены
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>