<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml" >

<head th:replace="common/header :: common-header"/>

<body>


<div th:replace="common/header :: header" />
    <div class="slider">
        <div class="slider__item">
            <img src="img/slider/slider_1.jpg" alt="" />
        </div>
        <div class="slider__item">
            <img src="img/slider/slider_2.jpg" alt="" />
        </div>
        <div class="slider__item">
            <img src="img/slider/slider_3.jpg" alt="" />
        </div>
        <div class="slider__item">
            <img src="img/slider/slider_4.jpg" alt="" />
        </div>
        <div class="slider__item">
            <img src="img/slider/slider_5.jpg" alt="" />
        </div>

    </div>

    <section class="about">
        <div class="container">
            <div class="about__title">
                Почему мы лучшие
            </div>
            <div class="about__items">
                <div class="about__item">
                    <img src="img/about/about-1.png" alt="" />
                    <div class="about__item-text">
                        Сертификат качества
                    </div>
                </div>
                <div class="about__item">
                    <img src="img/about/about-2.png" alt="" />
                    <div class="about__item-text">
                        Без консервантов
                    </div>
                </div>
                <div class="about__item">
                    <img src="img/about/about-3.png" alt="" />
                    <div class="about__item-text">
                        Используем олько натуральные ингредиенты
                    </div>
                </div>
                <div class="about__item">
                    <img src="img/about/about-4.png" alt="" />
                    <div class="about__item-text">
                        Бесплатная доставка на сумму заказа от 2000 грн.
                    </div>
                </div>
                <div class="about__item">
                    <img src="img/about/about-5.png" alt="" />
                    <div class="about__item-text">
                        Бизнес предложения для кафе
                    </div>
                </div>
                <div class="about__item">
                    <img src="img/about/about-6.png" alt="" />
                    <div class="about__item-text">
                        Эксклюзивные и уникальные десерты
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="decor">
        <div class="container">
            <div class="decor__content">
                <div class="decor__title">
                    Украшаем и создаем шедевры
                </div>
            </div>
            <div class="decor__text">
                <p> Декоративная отделка поверхности тортов - сложная технологическая операция, требующая определенных
                    навыков и художественного вкуса. Как правило, декорированием тортов занимаются опытные мастера -
                    кондитеры.</p>
                <p> Для отделки тортов применяются различные виды крема, взбитые сливки, желе, сбивные полуфабрикаты,
                    белую и черную глазурь, измельченные орехи, посыпки, а также свежие и консервированные фрукты.
                    Иногда для украшения тортов используют объемные и плоские фигуры из шоколада, карамельной или
                    марципановой массы (листочки, паутинка, цветы и т. п.).
                </p>
                <p> Наружное оформление тортов начинают с обмазки, обсыпки и декорации боковых сторон отделочными
                    полуфабрикатами. На заключительной стадии производят художественное оформление поверхности торта:
                    нанесение крема или желейных масс; создание объемных бордюров; отсадка всевозможных розочек,
                    шишечек, куполов; укладка фруктов или объемных фигур.
                </p>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script src="js/main.js"></script>


<div th:replace="common/footer :: footer" />

</body>

</html>