<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
</head>
<head th:replace="common/header :: common-header"/>

<body>
<head th:replace="common/header :: header"/>

<div class="container">
    <div class="row" style="margin-bottom: -100px;">
        <div class="col-xs-8">
            <h2 class="section-headline">
                <h2 class="section-headline">
                    <span th:text="${#strings.toUpperCase(user.username)}"></span>
                </h2>
            </h2>
        </div>

    </div>

    <div class="row" style="margin-top: 60px;">
        <div class="col-xs-9 col-xs-offset-3">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li th:classappend="${classActiveEdit}? 'active'"><a
                        href="#tab-1" data-toggle="tab"><span style="color: red;">Редактировать</span></a></li>
                <li th:classappend="${classActiveOrders}? 'active'"><a
                        href="#tab-2" data-toggle="tab"><span style="color: red;">Заказы</span></a></li>
            </ul>

            <!-- вкладки -->
            <div class="tab-content">

                <!-- Пользователь -->
                <div class="tab-pane fade" id="tab-1"
                     th:classappend="${classActiveEdit}? 'in active'">
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body"
                                 style="background-color: #ededed; margin-top: 20px;">
                                <div class="alert alert-warning" th:if="${incorrectPassword}">
                                    <strong>Неверный пароль</strong>
                                </div>
                                <div class="alert alert-success" th:if="${updateSuccess}">
                                    <strong>Сохранено</strong>
                                </div>
                                <form th:action="@{/updateUserInfo}" method="post">
                                    <input type="hidden" name="id" th:value="${user.id}" />

                                    <div class="bg-info" th:if="${updateUserInfo}">User info
                                        updated.
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label for="firstName">Имя</label> <input
                                                    type="text" class="form-control" id="firstName"
                                                    name="firstName" th:value="${user.firstName}"/>
                                            </div>
                                            <div class="col-xs-6">
                                                <label for="lastName">Фамилия</label> <input type="text"
                                                                                               class="form-control"
                                                                                               id="lastName"
                                                                                               name="lastName"
                                                                                               th:value="${user.lastName}"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="userName">Логин</label> ' <input type="text"
                                                                                        class="form-control"
                                                                                        id="userName" name="username"
                                                                                        th:value="${user.username}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="currentPassword">Текущий пароль</label> ' <input
                                            type="password" class="form-control" id="currentPassword"
                                            name="password" th:value="${currentPassword}"/>
                                    </div>
                                    <p style="color: #828282">Введите свой текущий пароль, чтобы изменить адрес электронной почты или пароль.</p>

                                    <div class="form-group">
                                        <label for="email">* Email </label> ' <input
                                            type="text" class="form-control" id="email" name="email"
                                            th:value="${user.email}"/>
                                    </div>
                                    <p style="color: #828282">Действующий адрес электронной почты. Все электронные письма от системы будут отправляться на этот адрес. Адрес электронной почты не разглашается и будет использоваться только в том случае, если вы хотите получить новый пароль или хотите получить определенные
                                        уведомления.</p>

                                    <div class="form-group">
                                        <label for="txtNewPassword">Пароль</label>&nbsp;<span id="checkPasswordMatch" style="color: red"></span>
                                        <input
                                            type="password" class="form-control" id="txtNewPassword"
                                            name="newPassword"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="txtConfirmPassword">Подтвердить пароль</label> ' <input
                                            type="password" class="form-control" id="txtConfirmPassword"/>
                                    </div>
                                    <p style="color: #828282">Чтобы изменить текущий пароль пользователя, введите новый пароль в оба поля.</p>

                                    <button id="updateUserInfoButton" type="submit" class="btn btn-primary"> Сохранить </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Информация по заказу -->
                <div class="tab-pane fade" id="tab-2"
                     th:classappend="${classActiveOrders}? 'in active'">
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body"
                                 style="background-color: #ededed; margin-top: 20px;">
                                <table class="table table-sm table-inverse">
                                    <thead>
                                    <tr>
                                        <th>Дата заказа</th>
                                        <th>Номер заказа</th>
                                        <th>Сумма к оплате</th>
                                        <th>Статус</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="order : ${orderList}">
                                        <td><a th:href="@{/orderDetail(id=${order.id})}"><span th:text="${order.orderDate}"></span></a></td>
                                        <td data-th-text="${order.id}"></td>
                                        <td data-th-text="${order.orderTotal}"></td>
                                        <td data-th-text="${order.orderStatus}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div th:if="${displayOrderDetail}">
                                    <div class="row-inner">
                                        <div class="col-xs-12">
                                            <div class="text-center">
                                                <h2>Детали заказа №<span th:text="${order.id}"></span></h2>
                                            </div>
                                            <hr/>
                                            <div class="row-inner">
                                                <div class="col-xs-4">
                                                    <div class="panel panel-default height" style="display: inline-block;">
                                                        <div class="panel-heading"><strong>Адрес</strong></div>
                                                        <div class="panel-body">
                                                            <span th:text="${order.shippingAddress}"></span><br/>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default height" style="display: inline-block;">
                                                        <div class="panel-heading"><strong>Получатель</strong></div>
                                                        <div class="panel-body">
                                                            <span th:text="${order.lastNameRecipient}+' '+${order.firstNameRecipient}+' '+${order.fatherNameRecipient}"></span><br/>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default height" style="display: inline-block;">
                                                        <div class="panel-heading"><strong>Телефон получателя</strong></div>
                                                        <div class="panel-body">
                                                            <span th:text="${order.phoneRecipient}"></span><br/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-inner">
                                        <div class="col-md-12">
                                            <div class="panel-heading">
                                                <h3 class="text-center"><strong>Сумма заказа</strong></h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table table-condensed">
                                                        <thead>
                                                        <tr>
                                                            <td><strong>Наименование товара</strong></td>
                                                            <td class="text-center"><strong>Цена</strong></td>
                                                            <td class="text-center"><strong>Количество</strong></td>
                                                            <td class="text-right"><strong>Стоимость</strong></td>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:each="cartItem : ${cartItemList}">
                                                            <td data-th-text="${cartItem.product.name}"></td>
                                                            <td class="text-center" data-th-text="${cartItem.product.price}"></td>
                                                            <td class="text-center" data-th-text="${cartItem.qty}"></td>
                                                            <td class="text-right" data-th-text="${cartItem.subtotal}"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="highrow"></td>
                                                            <td class="highrow"></td>
                                                            <td class="highrow text-center"><strong>Общая стоимость</strong></td>
                                                            <td class="highrow text-right" data-th-text="${order.orderTotal}"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- end of container -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>

<div th:replace="common/footer :: footer" />
</body>
</html>
